<h1>All your Items here!</h1>
<h5>Do you new a new item?</h5>
<%= link_to "Create Item", new_item_path, class: "waves-effect waves-light btn" %>	


<%= render "partials/flash_messages" %>

<table>

	<thead>
		<tr>
			<th>Name</th>
			<th>Quantity</th>
			<th>Description</th>
			<th>Edit Action</th>
			<th>Delete Action</th>
		</tr>
	</thead>

	<tbody>

		<% @items.each do |item| %>
			<tr>
				<td><%= item.name.capitalize %></td>
				<td><%= item.quantity %></td>
				<td><%= item.description.capitalize %></td>
				<td><%= link_to "Edit", item_path(item), class: "waves-effect waves-light btn" %></td>
				<td>
					<%= button_to "Delete", item_path(item), method: "delete", class: "waves-effect waves-light btn" %>
				</td>
			</tr>
		<% end %>

	</tbody>

</table>