<!DOCTYPE html>
<html>
  <head>
    <title>InventoryManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>

  <body>

    <nav>
      <div class="nav-wrapper">
        <%= link_to "Inventory Manager", root_path, class: 'brand-logo' %>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><%= link_to "Inventory Items", item_index_path %></li>
          <li><%= link_to "Shipments", root_path %></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>

  </body>

</html>
